
body > div {
  height: 520px;
  width: 350px;
  border: solid 15px rgb(66, 133, 244);
  margin: 3px;
}

div > div {
  font-size: 26px;
  color: white;
  width: 350px;
  height: 130px;
  text-align: center;
  line-height: 130px;
  vertical-align: middle;
}

.north {
  background: rgb(220, 118, 118);
}

div:nth-child(2) {
  background: rgb(242, 240, 98);
}

div:nth-child(3) {
  background: rgb(169, 230, 230);
}

div:nth-child(4) {
  background: rgb(118, 146, 228);
}
