div {
  width: 350px;
  height: 260px;
  background-color: rgb(230, 118, 118);
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  border: 15px solid rgb(66, 133, 244);
  color: white; 
  margin: 5px;
  text-align: center;
  line-height: 130px;
  vertical-align: middle;
}

body div:last-child {
  background-color: rgb(169, 230, 230);
}
