<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>FOX CLUB</title>
    </head>
    <body>
        <a href="/nutritionstore">GO TO > NUTRITION STORE</a><br/>
        <a href="/trickcenter">GO TO > TRICKCENTER</a>
        <p><img src="foxylove.png" /></p>
        <p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. She knows ' + ${knownTricksSize} + ' tricks.' "></p>

        <h3 width="120px" th:text="${knownTricksSize} == 0 ? 'Haven\'t learned tricks yet' : 'Known Tricks:'"></h3>
        <ul th:each="trick : ${knownTricks}">
            <li th:text="${trick.getName()}"></li>
        </ul>
    </body>
</html>