<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p><img src="../static/foxylove.png" ></img></p>
<p th:text="'This is ' + ${fox.getName()} + ' Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '.'"></p>
<h1>Known tricks</h1>
<p th:if = "${fox.getTrickList().size() == 0}">Fox is dumb, needs to learn some tricks...</p>
<p th:if = "tricklist.size() > 0" th:text="'Fox knows ' + ${fox.getTrickList().size() + ' tricks'"></p>


</body>
</html>