<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th align="left" width="40">Index</th>
        <th align="left" width="50">Accountholder</th>
        <th align="left" width="50">Balance</th>
        <th align="left" width="50">Species</th>
        <th align="left" width="50">Good/Bad</th>
    </tr>
    <tr th:each="account : ${accounts}" th:style="${account.getKing()} ? 'color:red'" >

        <td th:text="${accountStat.index}"></td>
        <td  th:text="${account.name}"></td>
        <td th:text="${account.balance}"></td>
        <td th:text="${account.animalType}"></td>
        <td th:text="${account.getBad()} ? 'bad' : 'good'"></td>
    </tr>
</table>
</body>
</html>