<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th align="left" width="40">INDEX</th>
        <th align="left" width="50">ACCOUNTHOLDER</th>
        <th align="left" width="50">BALANCE</th>
        <th align="left" width="50">SPECIES</th>
        <th align="left" width="50">GOOD/BAD</th>
    </tr>
    <tr th:each="account : ${accounts}" th:style="${account.getKing()} ? 'color:red'" >

        <td th:text="${accountStat.index}"></td>
        <td  th:text="${account.name}"></td>
        <td th:text="${account.balance}"></td>
        <td th:text="${account.animalType}"></td>
        <td th:text="${account.getBad()} ? 'BAAAD' : 'GOOOD'"></td>
    </tr>
</table>
</body>
</html>