<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymleleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Assignees</title>
</head>
<body>
<form action="/todo/list/addassignee">
    <input type="submit" value="Add Assignee" />
</form>
<form action="/todo/list/">
    <input type="submit" value="Back to Todo List" />
</form>
<table class="assignees">
    <thead>
    <tr align="left">
        <th width="40px">Id</th>
        <th width="150px">Name</th>
        <th width="70px">Email</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="assignee : ${assignees}">
        <td th:text="${assignee.getId()}"></td>
        <td th:text="${assignee.getName()}"></td>
        <td th:text="${assignee.getEmail()}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>