<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new todo</title>
</head>
<body>
    <p><a th:href="@{/todo/list}">Back to Todo List</a></p>
    <form action="/todo/list/create" th:object="${newTodo}" method="post">
        <p><input type="hidden" th:field="*{id}"/></p>
        <p><input type="text" th:field="*{title}"/></p>
        <p><input type="checkbox" th:field="*{isUrgent}"/>Check if todo is urgent</p>
        <p><button type="submit" value="Submit" th:text="'Add New Todo'"></button></p>
    </form>
</body>
</html>