<!DOCTYPE html>
<html class="align-center" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8"/>
    <title>Add new todo</title>
</head>
<body>
    <h3>ADD NEW TODO</h3>
    <form action="/todo/list/create" th:object="${newTodo}" method="post">
        <p><input type="hidden" th:field="*{id}"/></p>
        <p><input type="text" th:field="*{title}" name="title" placeholder="Todo's title"/></p>
        <p><input type="date" name="dueDate" th:field="*{dueDate}"/></p>
        <p><input type="checkbox" th:field="*{isUrgent}"/>Check if todo is urgent</p>
        <p><input type="hidden" th:field="*{created}" th:value="${created}"/></p>
        <p><button type="submit" value="Submit" th:text="'Add New Todo'"></button></p>
    </form>
    <form action="/todo/list">
        <input type="submit" value="Back > Todo List" />
    </form>
</body>
</html>