<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Todos</title>
</head>
<body>
    <a class="btn btn-primary" href="/todo/new">Add new todo</a>
    <table class="todolist">
        <thead>
            <tr>
                <th>Id</th>
                <th>Action</th>
                <th>Done</th>
                <th>Urgent</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.getIsDone()} ? 'done' : 'active'"></td>
                <td th:text="${todo.getIsUrgent()} ? 'urgent' : 'not urgent'"></td>
                <td>
                    <a th:href="@{'/todo/{id}/delete'(id=${todo.id})}" class="delete" th:attr="name=${todo.title}">
                        delete
                        <!--<span class="fa-stack">
                                <i class="glyphicon glyphicon-trash"></i>
                            </span>-->
                    </a>
                </td>
                <td>
                    <a th:href="@{'/todo/{id}/edit'(id=${todo.id})}" class="edit" th:attr="name=${todo.title}">
                        edit<!--<span class="fa-stack">
                            <i class="glyphicon glyphicon-edit"></i>
                        </span>-->
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
</body>
</html>