<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Todos</title>
</head>
<body>
    <h1>Todo List</h1>
    <p></p>
    <form action="/assignees">
        <input type="submit" value="Assignees" />
    </form>
    <form action="/todo/actives">
        <input type="submit" value="Show Active Todos" />
    </form>
    <form th:action="@{/todo/bydatecreated/}">
        <input type="date" name="date"/>
        <button type="submit" value="Submit">Search By Created</button>
    </form>
    <form th:action="@{/todo/bydatedue/}">
        <input type="date" name="date"/>
        <button type="submit" value="Submit">Search By Due Date</button>
    </form>
    <form th:action="@{/todo/bytitle/}">
        <input type="text" name="title"/>
        <button type="submit" value="Submit">Search By Title</button>
    </form>
    <table class="todolist">
        <thead>
            <tr align="left">
                <th width="40px">Id</th>
                <th width="150px">Action</th>
                <th width="80px">Done</th>
                <th width="80px">Urgent</th>
                <th width="100px">Created</th>
                <th width="100px">Due</th>
                <th width="50px">Delete</th>
                <th width="50px">Edit</th>
                <th width="130px">Assignee</th>
                <th width="130px">Add Assignee</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.getIsDone()} ? 'done' : 'active'"></td>
                <td th:text="${todo.getIsUrgent()} ? 'urgent' : 'not urgent'"></td>
                <td th:text="${todo.getCreated()}"></td>
                <td th:text="${todo.getDueDate()}"></td>
                <td>
                    <form th:action="@{'/todo/list/{id}/delete'(id=${todo.id})}" th:method="delete" >
                        <button type="submit"> Delete </button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/todo/list/{id}/edit'(id=${todo.id})}">
                        <button type="submit"> Edit </button>
                    </form>
                </td>
                <td>
                    <a th:text="${todo.assignee} == null ? 'Nobody assigned yet' : ${todo.assignee.getName()}"></a>
                </td>
                <td>
                    <form th:each="assignee : ${assignees}">
                        <select th:field="${assignee}"
                                th:action="@{/todo/list/assignassignee/{todoId}/{assigneeId}(todoId=${todo.id}), (assigneeId=${assignee.id})}">
                            <option value="0" th:text="'select assignee'" ></option>
                            <option
                                    th:value="${assignee.id}"
                                    th:text="${assignee.name}"></option>
                        </select>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
    <p></p>
    <form action="/todo/list/addnewtodo">
        <input type="submit" value="Add New Todo" />
    </form>
</body>
</html>