<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Todos</title>
</head>
<body>
    <form action="/todo/list/addnewtodo">
        <input type="submit" value="Add new todo" />
    </form>
    <table class="todolist">
        <thead>
            <tr align="left">
                <th width="40px">Id</th>
                <th width="150px">Action</th>
                <th width="70px">Done</th>
                <th width="70px">Urgent</th>
                <th width="100px">Created</th>
                <th width="50px">Delete</th>
                <th width="50px">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.getId()}"></td>
                <td th:text="${todo.getTitle()}"></td>
                <td th:text="${todo.getIsDone()} ? 'done' : 'active'"></td>
                <td th:text="${todo.getIsUrgent()} ? 'urgent' : 'not urgent'"></td>
                <td><a th:href="@{'/todo/{id}/delete'(id=${todo.id})}" class="delete" th:attr="name=${todo.title}">delete</a>
                </td>
                <td>
                    <a th:href="@{'/todo/list/{id}/edit'(id=${todo.id})}" class="edit" th:attr="name=${todo.title}">edit</a>
                </td>

            </tr>
        </tbody>
    </table>
</body>
</html>